.doctor {
   overflow-x: hidden;
   position: relative;
   padding: 30px 15px;
   border-radius: var(--radius_section);
   background: var(--color_bg_gradient);

   &__content {
      display: flex;
      flex-flow: column;
      gap: 30px;
      margin-bottom: 40px;

      @include md {
         gap: 45px;
      }

      @include lg {
         margin-bottom: 0;
      }

      @include xxl {
         gap: 60px;
      }
   }

   &__header {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 20px;

      @include md {
         flex-flow: row;
      }
   }

   &__avatar {
      display: block;
      width: 100%;
      height: auto;
      max-width: 180px;
      max-height: 180px;

      @include xl {
         max-width: 210px;
         max-height: 210px;
      }
   }

   &__title {
      text-align: center;

      @include md {
         text-align: left;
      }

      @include lg {
         max-width: 480px;
      }

      @include xl {
         max-width: 540px;
      }
   }

   &__discount {
      position: relative;
      max-width: 440px;
      margin: 0 auto;
      padding: 30px;
      border-radius: 25px;
      background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='379' height='486' viewBox='0 0 379 486' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cmask id='mask0_1948_3984' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='379' height='486'%3e%3cpath d='M0 25C0 11.1929 11.1929 0 25 0H354C367.807 0 379 11.1929 379 25V486H0V25Z' fill='%230A65D1'/%3e%3c/mask%3e%3cg mask='url(%23mask0_1948_3984)'%3e%3cpath d='M66.2148 97.0053C53.1972 150.949 43.6286 206.117 42.1822 261.731C41.1808 300.755 44.1293 340.503 55.478 378.024C70.3872 427.291 103.265 473.719 156.56 483.795C186.044 489.362 217.698 483.795 245.57 473.719C273.441 463.643 299.087 448 320.227 427.068C368.57 379.248 393.326 313.169 402.004 246.644C407.846 202.053 406.399 156.738 399.946 112.314C397.053 92.3291 394.605 70.8408 386.817 52.0802C381.365 38.9423 373.966 26.5837 365.399 15.2829C345.984 -10.2136 319.003 -31.6463 286.013 -34.2628C258.031 -36.4895 229.158 -28.6958 204.458 -15.7806C180.871 -3.47767 161.622 15.5612 145.378 36.3258C79.6776 120.275 45.1863 241.523 94.0304 341.95C112.667 380.25 144.043 412.984 184.32 428.182C236.279 447.833 295.026 438.815 345.65 419.275C416.246 392.052 473.824 341.616 526.841 288.897C572.681 243.304 614.738 193.536 649.118 138.646C673.039 100.457 693.456 59.7069 707.086 16.6746C715.43 -9.71262 722.217 -37.9369 721.995 -65.8272C721.995 -72.5075 721.605 -79.5219 719.491 -85.9238C717.377 -92.3258 697.739 -86.9259 693.623 -85.8125C690.285 -84.8661 669.089 -79.2992 671.148 -72.9529C676.488 -56.5305 673.484 -36.4895 670.758 -19.9001C665.251 13.8911 653.568 46.6803 639.438 77.7438C589.314 188.025 504.477 282.495 411.684 358.818C398.889 369.339 385.538 379.36 371.519 388.211C364.898 392.386 358.167 396.339 351.324 400.013C349.822 400.848 348.32 401.627 346.818 402.407C346.151 402.741 342.312 404.689 345.149 403.297C341.645 405.023 338.084 406.693 334.468 408.252C332.688 409.031 330.963 409.755 329.183 410.535C329.183 410.535 323.342 412.873 326.735 411.537C330.129 410.2 324.399 412.372 324.343 412.427C322.619 413.04 320.894 413.652 319.17 414.264C318.057 414.654 316.889 414.988 315.721 415.378C309.824 417.382 321.228 413.875 315.275 415.545C313.05 416.157 307.543 418.718 305.206 418.217L308.377 417.493C307.265 417.716 306.208 417.994 305.095 418.217C303.76 418.495 302.369 418.774 300.978 418.996C299.587 419.219 298.252 419.442 296.917 419.72C303.092 418.607 297.64 419.609 296.416 419.72C293.802 420.054 291.132 420.332 288.461 420.611C287.627 420.666 282.342 420.945 287.349 420.722C285.791 420.778 284.233 420.889 282.731 420.889C280.172 420.945 277.669 420.945 275.11 420.889C273.608 420.889 272.106 420.833 270.604 420.722C265.708 420.499 273.663 421 268.768 420.611C263.427 420.165 258.142 419.497 252.913 418.495C242.955 416.658 234.165 414.042 224.875 410.145C206.35 402.351 189.549 390.716 175.363 376.409C109.106 309.495 107.549 199.325 141.039 116.712C153.166 86.7065 169.744 57.8698 189.104 31.9836C197.115 21.2395 205.793 11.052 215.751 1.97793C219.979 -1.91892 224.43 -5.59309 229.103 -8.93325C229.882 -9.48994 230.716 -10.0466 231.495 -10.6033C228.658 -8.6549 232.496 -11.2157 232.83 -11.4384C235.167 -12.8858 237.559 -14.1662 239.895 -15.5022C243.845 -17.7847 235.723 -13.8321 239.895 -15.5022C240.674 -15.8362 241.453 -16.1702 242.232 -16.5599C247.016 -18.7867 241.23 -16.1703 241.23 -16.2259C241.23 -16.5043 244.401 -17.228 244.624 -17.395C244.624 -17.395 237.948 -15.3909 241.62 -16.4486C243.789 -17.061 247.461 -17.1166 239.617 -16.0589C240.563 -16.1702 241.453 -16.4486 242.399 -16.6156C247.461 -17.6733 237.225 -16.2259 241.397 -16.4486C242.121 -16.4486 244.012 -17.061 244.624 -16.7826C243.789 -17.1723 240.062 -16.7269 242.677 -16.6156C244.791 -16.5599 246.905 -16.6156 249.019 -16.5599C244.902 -16.7269 249.519 -16.4486 251.133 -16.2259C253.191 -15.9476 255.194 -15.5579 257.197 -15.1125C258.865 -14.7228 260.534 -14.3332 262.148 -13.8321C260.034 -14.4445 264.818 -12.8858 265.597 -12.6074C269.268 -11.2157 272.829 -9.60128 276.278 -7.70852C282.954 -4.14569 289.184 0.196506 295.026 4.98406C315.776 22.2415 332.521 46.569 341.2 72.1768C344.649 82.3643 346.206 93.4982 348.153 104.02C350.267 115.543 351.992 127.122 353.438 138.757C356.053 160.58 357.444 182.569 357.333 204.558C356.943 273.922 341.255 345.568 300.811 403.019C296.75 408.809 292.467 414.376 287.905 419.776C285.902 422.169 283.844 424.452 281.73 426.734C279.616 429.017 283.399 425.009 281.229 427.235C280.617 427.903 279.95 428.571 279.338 429.184C278.058 430.464 276.779 431.744 275.499 433.025C270.882 437.534 266.098 441.765 261.035 445.773C258.81 447.555 256.585 449.28 254.304 450.895C253.08 451.785 251.8 452.676 250.521 453.567C249.575 454.235 247.572 455.404 251.578 452.899C250.632 453.511 249.742 454.124 248.796 454.68C246.515 456.128 244.179 457.519 241.842 458.855C240.674 459.523 239.506 460.136 238.338 460.804C237.614 461.194 236.947 461.528 236.224 461.917C233.386 463.476 241.564 459.412 237.336 461.361C235 462.418 232.608 463.532 230.271 464.534C224.875 466.872 234.277 463.086 231.606 464.033C230.049 464.589 228.547 465.202 226.989 465.703C224.597 466.538 218.978 467.651 228.713 465.257C227.49 465.536 226.321 465.925 225.153 466.259C223.985 466.593 222.761 466.816 221.593 467.15C231.439 464.255 225.264 466.315 222.705 466.816C221.426 467.039 220.091 467.206 218.755 467.484C227.267 465.703 222.65 466.927 220.424 467.15C219.256 467.317 218.032 467.373 216.864 467.54C211.412 468.096 221.314 467.428 217.031 467.54C214.416 467.595 211.857 467.651 209.242 467.595C208.074 467.595 206.906 467.484 205.738 467.428C211.635 467.595 206.461 467.428 204.959 467.317C199.841 466.76 194.778 465.87 189.827 464.534C189.215 464.367 185.432 463.253 187.213 463.81C188.993 464.367 185.21 463.142 184.654 462.919C182.206 462.084 179.814 461.082 177.421 460.08C172.582 457.965 167.909 455.46 163.458 452.62C142.93 439.594 128.577 421.223 117.618 399.512C102.876 370.341 95.755 337.663 92.5284 305.32C88.0779 260.45 91.1376 215.024 97.6464 170.544C101.708 142.71 107.271 115.154 113.891 87.7642C115.727 80.2489 98.3696 83.756 94.9205 84.4797C88.6342 85.7601 82.3479 87.4859 76.451 90.1023C73.725 91.3271 67.1049 93.7208 66.3817 96.894L66.2148 97.0053Z' fill='url(%23paint0_radial_1948_3984)' fill-opacity='0.15'/%3e%3c/g%3e%3cdefs%3e%3cradialGradient id='paint0_radial_1948_3984' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(677.215 -3.94902) rotate(150.826) scale(669.689 1636.24)'%3e%3cstop stop-color='%230A65D1'/%3e%3cstop offset='1' stop-color='%2300DADE'/%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e "), var(--color_blue);
      background-position: 45px -15px;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      &-title {
         margin-bottom: 10px;
         font-weight: 400;
         color: var(--color_base);

         @include sm {
            font-size: 18px;
         }

         @include lg {
            font-size: 20px;
         }

         @include xl {
            font-size: 22px;
         }

         @include xxl {
            font-size: 24px;
         }
      }

      &-subtitle {
         margin-bottom: 40px;
         color: var(--color_bullet_text);

         @include xl {
            margin-bottom: 60px;
         }
         @include xxl {
            margin-bottom: 100px;
         }
      }

      &-picture {
         position: relative;
      }

      &-img {
         position: relative;
         z-index: 100;
         display: block;
         width: 100%;
         height: auto;
         margin: 0 auto;
         margin-right: -10px;
         margin-bottom: -30px;

         @include xl {
            margin-bottom: -40px;
         }
         @include xxxl {
            width: 108%;
            margin-bottom: -65px;
         }
      }

      &-value {
         position: absolute;
         bottom: 85px;
         left: -45px;
         z-index: 50;
         font: 700 70px/1.1 "Overpass";
         transform: rotate(-90deg);
         color: var(--color_base);

         @include xs {
            bottom: 120px;
            font-size: 90px;
         }

         @include xxxl {
            left: -55px;
         }
      }

      @include md {
         border-radius: 25px 25px 0 0;
      }

      @include lg {
         position: absolute;
         right: 0;
         bottom: -50px;
      }

      @include xl {
         padding: 40px;
      }

      @include xxl {
         bottom: -60px;
      }

      @include xxxl {
         padding: 65px;
      }

      @include xxxxl {
         right: 80px;
      }
   }

   @include md {
      padding-bottom: 0;
   }

   @include lg {
      padding: 50px 30px 50px 30px;
   }

   @include xxl {
      padding: 60px 30px 60px 30px;
   }
}
