.faq {
   display: flex;
   flex-flow: column;
   gap: 20px;

   &__item {
      cursor: pointer;
      position: relative;
      height: fit-content;
      border-radius: 20px;
      background: rgba(243, 243, 243, 100%);
      transition: all 0.2s ease-in-out;

      &.active {
         background: radial-gradient(359.49% 117.86% at 93.78% 95.78%, #baf0f1 0%, #f2f9f9 52.08%, #e5eefa 100%);

         & .faq__title-icon {
            transform: rotate(180deg);
         }

         .faq__title {
            padding-bottom: 15px;
         }
      }

      @include lg {
         min-width: fit-content;
      }
   }

   &__title {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      padding: 20px;
      font-family: "Overpass";
      font-weight: 700;

      &-icon {
         width: 14px;
         height: 24px;
         min-width: 14px;
         transition: all 0.2s ease-in-out;
      }

      @include md {
         font-size: 18px;
      }

      @include lg {
         font-size: 20px;
      }

      @include xl {
         padding: 25px;
         font-size: 22px;
      }

      @include xxl {
         padding: 30px;
         font-size: 24px;
      }
   }

   &__text {
      margin-bottom: 15px;
   }

   &__more {
      margin: 0;
      padding: 0 20px 20px 20px;

      @include xl {
         padding: 0 25px 25px 25px;
      }

      @include xxl {
         padding: 0 30px 30px 30px;
      }
   }

   &__link {
      display: flex;
      align-items: center;
      gap: 10px;
   }

   &__btn {
      cursor: pointer;
      color: var(--color_blue);

      & span {
         min-width: none;
         padding: 0;
      }

      &:hover {
         color: var(--color_blue_hover);

         ~ .faq__icon {
            color: var(--color_blue_hover);
         }
      }
   }

   &__icon {
      display: block;
      width: 32px;
      height: 32px;
      color: var(--color_blue);
   }

   @include lg {
      flex: 1 0 calc(50% - 10px);
   }

   @include xl {
      flex: 1 0 calc(50% - 15px);
      gap: 20px;
   }
}
