.form {
   position: relative;
   display: flex;
   flex-flow: column;
   gap: 20px;

   &__title {
      font: 700 16px/1.3 "Overpass";
      color: var(--color_fonts);

      @include md {
         font-size: 18px;
      }

      @include lg {
         font-size: 20px;
      }

      @include xl {
         font-size: 22px;
      }

      @include xxl {
         font-size: 24px;
         flex: 1 0 100%;
      }
   }

   &__fields {
      display: flex;
      flex-flow: column;
      gap: 20px;

      @include md {
         flex-flow: row;
         flex-wrap: wrap;
      }

      @include lg {
         flex-flow: column;
      }

      @include xxl {
         flex: 1 0 calc(50% - 10px);
         flex-flow: row;
         flex-wrap: wrap;
      }
      @include xxxl {
         column-gap: 30px;
      }
   }

   &__fieldset {
      display: block;
      margin: 0;
      padding-left: 15px;
      border: 1px groove var(--color_border_input);
      border-radius: 8px;

      @include md {
         flex: 1 0 calc(50% - 10px);
      }

      @include xxxl {
         flex: 1 0 calc(50% - 15px);
      }
   }

   &__legend {
      width: fit-content;
      padding: 0 10px;
   }

   &__input {
      display: block;
      width: 100%;
      padding: 9px 15px 9px 0;
      border: none;
      outline: none;
      background: none;

      @include lg {
         padding: 14px 15px 14px 0;
      }
   }

   &__policy {
      position: relative;
      display: flex;
      gap: 10px;
      max-width: 420px;
      font: 400 14px/1.4 "Overpass";
      color: var(--color_fonts);

      @include xxl {
         flex: 1 0 100%;
      }
   }

   &__radio {
      cursor: pointer;
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      border: 1px solid var(--color_border_input);
      border-radius: 100%;

      &:checked {
         border: 1px solid var(--color_blue);
         background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.98329 1.95045L4.10129 6.83145C4.01529 6.9175 3.91318 6.98577 3.80079 7.03234C3.68841 7.07892 3.56794 7.10289 3.44629 7.10289C3.32463 7.10289 3.20417 7.07892 3.09178 7.03234C2.97939 6.98577 2.87728 6.9175 2.79129 6.83145L0.272286 4.31145C0.0985696 4.13773 0.000976563 3.90212 0.000976562 3.65645C0.000976562 3.41078 0.0985696 3.17517 0.272286 3.00145C0.446003 2.82773 0.681614 2.73014 0.927286 2.73014C1.17296 2.73014 1.40857 2.82773 1.58229 3.00145L3.44729 4.86745L7.67429 0.64045C7.848 0.466733 8.08361 0.369141 8.32929 0.369141C8.57496 0.369141 8.81057 0.466733 8.98429 0.64045C9.158 0.814166 9.2556 1.04978 9.2556 1.29545C9.2556 1.54112 9.158 1.77673 8.98429 1.95045H8.98329Z' fill='white'/%3e%3c/svg%3e ");
         background-position: center;
         background-repeat: no-repeat;
         background-color: var(--color_blue);
      }
   }

   &__action {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 15px;

      @include lg {
         align-items: flex-start;
      }

      @include xl {
         gap: 25px;
      }

      @include xxl {
         position: relative;
         bottom: 60px;
      }
   }

   &__info {
      max-width: 380px;
      text-align: center;

      @include lg {
         text-align: left;
      }
   }

   @include lg {
      max-width: 50%;
   }

   @include xxl {
      flex-flow: row;
      flex-wrap: wrap;
      max-width: 850px;
   }

   @include xxxl {
      max-width: 1000px;
      column-gap: 30px;
      row-gap: 40px;
   }
}
