.hero {
   overflow-x: hidden;
   position: relative;
   height: 100%;
   padding: 0 15px;
   padding-bottom: 15px;
   border-radius: var(--radius_section);
   background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1888' height='950' viewBox='0 0 1888 950' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.995 6.78656C4.28288 12.2883 0 20.644 0 30V699.879C46.427 769.094 111.323 825.856 189.986 855.516C257.733 881.119 330.159 886.974 401.83 879.689C394.503 886.318 386.975 892.7 379.179 898.867C373.691 903.257 368.203 907.51 362.578 911.488C359.615 913.644 356.519 915.799 353.42 917.954C346.895 922.063 351.139 919.563 353.249 918.073L353.251 918.072C353.307 918.033 353.364 917.993 353.42 917.954C354.108 917.521 354.914 917.015 355.856 916.427C355.193 916.856 354.541 917.285 353.894 917.711C352.265 918.783 350.665 919.835 348.996 920.817C343.371 924.384 337.609 927.814 331.846 931.106C330.406 931.929 328.965 932.718 327.525 933.507C326.084 934.296 324.644 935.085 323.203 935.908C322.311 936.388 321.454 936.834 320.596 937.28C320.29 937.439 319.985 937.598 319.677 937.758C318.524 938.282 317.367 938.809 316.206 939.338C312.055 941.23 307.87 943.137 303.751 944.91C303.306 945.076 302.862 945.242 302.419 945.409C300.218 946.234 298.03 947.055 295.801 947.79C295.174 947.946 294.582 948.094 294.023 948.234C294.239 948.167 294.429 948.105 294.59 948.052C296.146 947.536 294.99 947.754 287.214 950H288.033C289.129 949.739 290.514 949.387 291.882 949.005C291.483 949.122 291.086 949.239 290.688 949.352C289.869 949.586 289.04 949.798 288.205 950H384.176C434.912 926.492 481.712 894.997 522.04 855.826C544.444 849.319 566.444 841.823 587.855 833.565C761.957 766.48 903.955 642.188 1034.7 512.27C1147.75 399.913 1251.47 277.266 1336.26 141.999C1365.01 96.1379 1391.7 48.7786 1415.41 0L1308.68 0C1184.62 268.305 977.277 498.361 750.706 684.579C719.151 710.507 686.224 735.201 651.651 757.014C635.324 767.303 618.724 777.044 601.849 786.098C598.144 788.156 594.44 790.077 590.736 791.997C589.089 792.82 579.623 797.622 586.62 794.192C581.544 796.69 576.421 799.14 571.25 801.515C660.479 689.95 708.386 549.455 726.834 408.144C741.24 298.256 737.673 186.585 721.758 77.1086C721.023 72.0358 720.3 66.9236 719.573 61.7836C716.688 41.3911 713.741 20.5594 709.758 0H583.111C586.409 13.6397 588.869 27.6187 591.293 41.3901C592.196 46.5208 593.094 51.6228 594.028 56.6676C599.242 85.0656 603.495 113.601 607.062 142.273C613.51 196.051 616.94 250.24 616.666 304.43C615.705 475.367 577.016 651.928 477.274 793.506C467.259 807.774 456.695 821.493 445.445 834.8C444.814 835.554 444.18 836.304 443.544 837.049C443.542 837.049 443.54 837.05 443.538 837.05C440.264 837.236 436.488 837.451 440.673 837.279C440.506 837.287 440.34 837.295 440.173 837.303C437.644 837.424 435.135 837.544 432.686 837.544C426.375 837.681 420.201 837.681 413.89 837.544C410.185 837.544 406.481 837.407 402.777 837.132C401.744 837.085 400.942 837.051 400.334 837.028C399.779 836.981 399.091 836.925 398.249 836.858C385.079 835.76 372.045 834.114 359.148 831.645C334.59 827.118 312.913 820.67 290.002 811.067C244.315 791.86 202.882 763.188 167.897 727.93C4.49629 563.03 0.654816 291.534 83.2469 87.9465C95.3337 58.0639 109.213 28.6519 124.613 0H30C26.0793 0 22.3343 0.752115 18.9013 2.11993C17.548 4.51262 16.2051 6.91239 14.8727 9.31909C13.9095 8.25747 12.5865 7.42599 10.995 6.78656ZM294.465 948.232C293.668 948.491 292.778 948.754 291.882 949.005C292.357 948.864 292.834 948.721 293.311 948.578C293.695 948.462 294.079 948.347 294.465 948.232ZM297.592 947.345C296.965 947.5 296.369 947.648 295.801 947.79C295.606 947.854 295.411 947.918 295.215 947.98C294.977 948.064 294.726 948.148 294.465 948.232C295.498 947.925 296.538 947.623 297.592 947.345Z' fill='url(%23paint0_radial_1933_3381)' fill-opacity='0.1'/%3e%3cpath d='M226.42 950C218.72 948.74 211.092 947.128 203.568 945.1C203.078 944.966 201.762 944.586 200.359 944.181C199.007 943.791 197.574 943.377 196.722 943.138C196.533 943.075 196.332 943.008 196.123 942.938C194.169 942.287 191.495 941.395 190.809 941.121C184.772 939.063 178.873 936.594 172.973 934.124C161.037 928.911 149.513 922.738 138.537 915.741C87.9116 883.639 52.515 838.367 25.4874 784.864C15.6854 765.483 7.24969 745.474 0 725.022V920C0 936.569 13.4314 950 30 950H226.42Z' fill='url(%23paint1_radial_1933_3381)' fill-opacity='0.1'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1157.23 671.516C1159.02 602.459 1170.91 533.954 1187.09 466.97L1187.3 466.832C1188.08 463.402 1194.41 460.706 1198.28 459.062C1198.85 458.817 1199.37 458.596 1199.81 458.399C1207.14 455.15 1214.95 453.007 1222.76 451.417C1226.31 450.672 1241.74 447.552 1245.62 451.822C1257.4 430.541 1270.81 410.335 1285.46 391.622C1305.65 365.838 1329.57 342.197 1358.88 326.92C1389.57 310.882 1425.45 301.204 1460.22 303.97C1501.22 307.218 1534.74 333.832 1558.87 365.492C1569.52 379.525 1578.71 394.871 1585.49 411.185C1594.17 432.081 1597.51 455.703 1600.7 478.258C1601.07 480.848 1601.43 483.424 1601.8 485.98C1609.82 541.143 1611.62 597.412 1604.36 652.783C1595.06 723.987 1570.92 794.78 1525.96 850.995C1528.57 849.798 1531.15 848.564 1533.71 847.305C1530.18 849.033 1534.95 846.614 1535.78 846.199C1537.65 845.231 1539.51 844.264 1541.38 843.227C1549.88 838.664 1558.25 833.756 1566.48 828.572C1583.9 817.581 1600.49 805.138 1616.39 792.073C1724.93 702.862 1824.71 593.683 1888 466.958V554.103C1850.16 608.443 1806.42 658.606 1759.49 705.25C1693.6 770.713 1622.06 833.342 1534.33 867.145C1523.54 871.306 1512.46 875.083 1501.17 878.361C1475.2 903.582 1443.91 922.487 1409.97 934.751C1375.33 947.262 1336 954.175 1299.36 947.262C1233.13 934.75 1192.28 877.099 1173.75 815.922C1159.65 769.33 1155.98 719.974 1157.23 671.516ZM1461.62 868.9C1461.61 868.9 1461.61 868.9 1461.61 868.9C1459.96 868.994 1458.06 869.103 1460.18 869.016C1460.09 869.02 1460 869.024 1459.92 869.028C1458.64 869.089 1457.38 869.149 1456.14 869.149C1452.96 869.218 1449.85 869.218 1446.67 869.149C1444.81 869.149 1442.94 869.08 1441.07 868.942C1440.55 868.918 1440.15 868.901 1439.84 868.889C1439.56 868.866 1439.22 868.837 1438.79 868.804C1432.16 868.251 1425.59 867.421 1419.09 866.177C1406.72 863.896 1395.79 860.647 1384.25 855.808C1361.23 846.13 1340.35 831.683 1322.72 813.917C1240.39 730.827 1238.45 594.025 1280.07 491.441C1295.14 454.182 1315.74 418.374 1339.8 386.23C1349.75 372.889 1360.54 360.239 1372.91 348.971C1378.17 344.132 1383.7 339.57 1389.5 335.422C1389.99 335.077 1390.49 334.731 1390.99 334.385C1391.05 334.34 1391.12 334.295 1391.18 334.25C1391.16 334.292 1393.83 332.516 1394.13 332.312C1396.15 331.062 1398.21 329.912 1400.24 328.77C1401.14 328.27 1402.03 327.771 1402.91 327.265C1403.73 326.917 1404.54 326.569 1405.35 326.18C1406.07 326.072 1406.65 325.978 1407.11 325.899C1408.17 325.917 1409.24 325.917 1410.31 325.917C1410.98 325.917 1411.66 325.917 1412.33 325.922C1412.57 325.95 1413.06 325.993 1413.66 326.046C1414.72 326.138 1416.09 326.258 1416.88 326.367C1419.44 326.712 1421.92 327.196 1424.41 327.749C1426.49 328.233 1428.56 328.717 1430.57 329.339C1428.74 328.809 1431.07 329.588 1432.98 330.227C1433.81 330.504 1434.56 330.755 1434.85 330.86C1439.41 332.588 1443.84 334.593 1448.12 336.943C1456.42 341.367 1464.16 346.759 1471.42 352.704C1497.21 374.133 1518.02 404.341 1528.8 436.14C1532.25 446.329 1534.18 457.28 1536.06 467.982C1536.52 470.567 1536.97 473.138 1537.44 475.68C1540.07 489.989 1542.21 504.368 1544.01 518.815C1547.26 545.913 1548.99 573.218 1548.85 600.523C1548.36 686.655 1528.87 775.621 1478.61 846.96C1473.56 854.149 1468.24 861.061 1462.57 867.767C1462.25 868.147 1461.94 868.524 1461.62 868.9ZM1406.21 325.875C1406.26 325.878 1406.31 325.88 1406.37 325.883C1406.62 325.889 1406.86 325.894 1407.11 325.899C1407.95 325.751 1408.37 325.652 1408.48 325.598C1407.92 325.536 1407.04 325.71 1406.24 325.868C1406.23 325.871 1406.22 325.873 1406.21 325.875ZM1405.82 325.95C1405.82 325.951 1405.82 325.951 1405.82 325.952C1405.66 326.03 1405.51 326.106 1405.35 326.18C1405.2 326.203 1405.05 326.226 1404.88 326.25C1405.03 326.19 1405.21 326.112 1405.42 326.022C1405.55 326.001 1405.68 325.977 1405.82 325.95ZM1405.93 325.9C1405.89 325.916 1405.86 325.933 1405.82 325.95C1405.95 325.926 1406.07 325.901 1406.21 325.875C1406.17 325.873 1406.13 325.871 1406.09 325.869C1406.07 325.873 1406.05 325.878 1406.02 325.883C1405.99 325.888 1405.96 325.894 1405.93 325.9ZM1405.51 325.982C1405.48 325.996 1405.45 326.009 1405.42 326.022C1405.33 326.037 1405.25 326.049 1405.17 326.06C1405.19 326.052 1405.22 326.045 1405.25 326.038C1405.34 326.019 1405.42 326 1405.51 325.982ZM1408.5 325.584C1408.44 325.57 1408.38 325.558 1408.31 325.547C1408.46 325.544 1408.54 325.555 1408.5 325.584ZM1404.57 326.192C1404.02 326.317 1403.48 326.441 1402.93 326.525C1403.29 326.476 1403.63 326.429 1403.95 326.384C1404.1 326.335 1404.32 326.269 1404.57 326.192ZM1404.1 326.362C1404.29 326.336 1404.46 326.311 1404.63 326.287C1404.59 326.316 1404.57 326.343 1404.57 326.367C1404.57 326.375 1404.69 326.33 1404.88 326.25C1404.8 326.262 1404.71 326.274 1404.63 326.287C1404.69 326.24 1404.79 326.186 1404.92 326.129C1404.97 326.116 1405.01 326.103 1405.06 326.09C1405.09 326.08 1405.13 326.07 1405.17 326.06C1405.15 326.062 1405.14 326.063 1405.13 326.065C1405.09 326.073 1405.06 326.081 1405.02 326.089C1404.99 326.102 1404.95 326.116 1404.92 326.129C1404.57 326.231 1404.3 326.307 1404.1 326.362ZM1440.6 890.386C1436.9 893.726 1433.11 896.941 1429.18 900.049C1426.42 902.261 1423.65 904.404 1420.82 906.409C1419.33 907.495 1417.77 908.581 1416.2 909.667C1412.92 911.737 1415.05 910.477 1416.12 909.727L1416.13 909.721C1416.15 909.703 1416.18 909.685 1416.2 909.667C1416.55 909.449 1416.96 909.194 1417.43 908.897C1417.1 909.113 1416.77 909.33 1416.44 909.544C1415.62 910.084 1414.82 910.614 1413.97 911.109C1411.14 912.906 1408.24 914.635 1405.33 916.294C1404.61 916.708 1403.88 917.106 1403.16 917.503C1402.43 917.9 1401.7 918.298 1400.98 918.713C1400.53 918.955 1400.1 919.18 1399.67 919.404C1399.51 919.484 1399.36 919.564 1399.2 919.645C1398.62 919.909 1398.04 920.176 1397.45 920.443C1395.36 921.396 1393.25 922.356 1391.18 923.249C1390.95 923.333 1390.73 923.417 1390.5 923.501C1389.4 923.917 1388.29 924.33 1387.17 924.7C1386.86 924.779 1386.56 924.853 1386.28 924.924C1386.38 924.891 1386.48 924.861 1386.56 924.834C1387.35 924.57 1386.76 924.681 1382.77 925.835C1382.83 925.785 1381.77 925.955 1378.5 926.623C1377.85 926.711 1377.18 926.773 1376.51 926.835C1375.76 926.905 1375.02 926.974 1374.29 927.077C1374.28 927.079 1374.26 927.081 1374.24 927.083C1371.08 927.15 1367.99 927.214 1364.82 927.147C1363.86 927.147 1362.89 927.085 1361.92 927.024C1361.44 926.993 1360.95 926.962 1360.47 926.939C1364.86 927.063 1364.31 927.039 1362.76 926.969C1361.73 926.923 1360.25 926.856 1359.5 926.801C1353.14 926.11 1346.85 925.004 1340.7 923.345C1340.45 923.277 1339.79 923.086 1339.08 922.882C1338.4 922.685 1337.68 922.477 1337.25 922.357C1337.15 922.325 1337.05 922.291 1336.95 922.255C1335.96 921.927 1334.61 921.478 1334.27 921.34C1331.23 920.303 1328.25 919.059 1325.28 917.814C1319.27 915.188 1313.46 912.077 1307.93 908.552C1282.42 892.376 1264.59 869.564 1250.97 842.605C1242.14 825.153 1235.51 806.69 1230.56 787.749C1254.23 828.031 1289.75 861.574 1333.85 878.205C1367.99 891.106 1404.48 894.056 1440.6 890.386ZM1382.4 925.943C1381.64 926.127 1379.91 926.475 1378.72 926.594C1378.65 926.604 1378.58 926.614 1378.5 926.623C1377.95 926.737 1377.33 926.865 1376.64 927.008C1377.7 926.789 1378.75 926.626 1379.78 926.465C1380.38 926.372 1380.97 926.28 1381.55 926.179C1381.59 926.172 1381.62 926.165 1381.66 926.157C1381.2 926.291 1380.7 926.437 1380.17 926.594C1380.9 926.386 1381.64 926.213 1382.38 926.04C1383.13 925.868 1383.87 925.695 1384.59 925.488C1384.79 925.43 1384.99 925.372 1385.19 925.313C1385.65 925.186 1386.1 925.053 1386.5 924.922C1387.02 924.768 1387.54 924.616 1388.07 924.477C1387.76 924.554 1387.46 924.629 1387.17 924.7C1387.07 924.733 1386.97 924.765 1386.88 924.796C1386.76 924.838 1386.63 924.88 1386.5 924.922C1386.3 924.98 1386.11 925.039 1385.92 925.097C1385.67 925.17 1385.43 925.242 1385.19 925.313C1383.88 925.679 1382.55 925.99 1382.23 926.034C1382.03 926.079 1381.84 926.121 1381.66 926.157C1381.92 926.082 1382.16 926.011 1382.4 925.943Z' fill='url(%23paint2_radial_1933_3381)' fill-opacity='0.1'/%3e%3cdefs%3e%3cradialGradient id='paint0_radial_1933_3381' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1839.86 361.087) rotate(148.825) scale(734.692 1867.94)'%3e%3cstop stop-color='%230A65D1'/%3e%3cstop offset='1' stop-color='%2300DADE'/%3e%3c/radialGradient%3e%3cradialGradient id='paint1_radial_1933_3381' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1839.86 361.087) rotate(148.825) scale(734.692 1867.94)'%3e%3cstop stop-color='%230A65D1'/%3e%3cstop offset='1' stop-color='%2300DADE'/%3e%3c/radialGradient%3e%3cradialGradient id='paint2_radial_1933_3381' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1839.86 361.087) rotate(148.825) scale(734.692 1867.94)'%3e%3cstop stop-color='%230A65D1'/%3e%3cstop offset='1' stop-color='%2300DADE'/%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e"), var(--color_bg_gradient);
   background-size: cover;
   background-repeat: no-repeat;

   &__content {
      margin-top: 140px;
      margin-bottom: 50px;

      @include md {
         margin-top: 180px;
      }

      @include xl {
         margin-top: 200px;
      }
   }

   &__title {
      margin-bottom: 15px;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: -1.70px;

      @include sm {
         font-size: 38px;
      }

      @include lg {
         font-size: 42px;
      }

      @include xl {
         font-size: 46px;
      }

      @include xxl {
         font-size: 50px;
      }

      @include xxxl {
         font-size: 56px;
      }
   }

   &__subtitle {
      margin-bottom: 40px;

      @include xl {
         margin-bottom: 60px;
      }
   }

   &__info {
      max-width: 420px;
      margin-bottom: 20px;
      line-height: 1.2;

      @include lg {
         max-width: 340px;
      }

      @include xl {
         max-width: 410px;
      }
   }

   &__img {
      display: block;
      width: 100%;
      height: auto;
      max-height: min-content;

      @include md {
         max-width: 650px;
      }

      @include lg {
         position: absolute;
         top: 180px;
         right: 0;
      }


      @include lg-2 {
         top: initial;
         bottom: -30px;
         max-width: 750px;
      }

      @include lg-3 {
         max-width: 850px;
      }

      @include xl {
         top: initial;
         right: 0;
         bottom: -30px;
         max-width: 900px;
      }

      @include xxl {
         right: -30px;
         max-width: 1000px;
      }

      @include xxxl {
         right: -50px;
         max-width: 1100px;
      }
   }

   &__bullet {
      display: flex;
      flex-flow: column;
      gap: 15px;
      width: 100%;
      margin-top: -10px;

      &-item {
         position: relative;
         width: 100%;
         max-width: 450px;
         padding: 45px 20px 20px 20px;
         border-radius: 20px;
         background: rgba(255, 255, 255, 30%);
         box-shadow: 102px 147px 72px rgba(25, 121, 123, 0.01), 58px 83px 61px rgba(25, 121, 123, 0.04), 26px 37px 45px rgba(25, 121, 123, 0.07), 6px 9px 25px rgba(25, 121, 123, 0.08), 0 0 0 rgba(25, 121, 123, 0.08);
         backdrop-filter: blur(28px);
         -webkit-backdrop-filter: blur(28px);

         @include md {
            flex: 0 0 calc(50% - 10px);
            max-width: 380px;
         }

         @include lg {
            max-width: 100%;
         }

         @include xl {
            flex: 0 0 calc(25% - 12px);
         }
      }

      &-icon {
         position: absolute;
         top: 0;
         left: 20px;
         display: block;
         width: 30px;
         height: 30px;

         @include md {
            width: 35px;
            height: 35px;
         }
      }

      &-title {
         font: 400 16px/1.3 "Overpass";
      }

      @include md {
         flex-flow: row;
         flex-wrap: wrap;
         justify-content: center;
         max-width: 100%;
      }

      @include lg {
         margin-top: 40px;
      }

      @include lg-3 {
         margin-top: 60px;
      }

      @include xl {
         margin-top: 80px;
      }

      @include xxl {
         margin-top: 100px;
      }

      @include xxxl {
         margin-top: 120px;
      }

      @include xxxxl {
         margin-top: 140px;
      }
   }

   @include md {
      padding: 0 30px;
      padding-bottom: 30px;
   }
}
