.slider {
   padding: 30px 15px;

   &__title {
      margin-bottom: 30px;
      text-align: center;

      @include lg {
         margin-bottom: 0;
         text-align: left;
      }
   }

   &__swiper {
      @include lg {
         margin-top: -45px;
      }
   }

   &__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin-bottom: 20px;

      @include md {
         justify-content: flex-end;
      }

      @include lg {
         margin-bottom: 30px;
      }

      @include xl {
         margin-bottom: 40px;
      }
   }

   &__button-prev,
   &__button-next {
      cursor: pointer;
      position: relative;
      display: block;
      width: 34px;
      height: 34px;
      border-radius: 12px;
      background: radial-gradient(145.47% 527.72% at 127.78% 125%, #baf0f1 0%, #f2f9f9 52.08%, #e5eefa 100%), linear-gradient(0deg, #d1f4f5, #d1f4f5);
      transition: all 0.2s ease-in-out;
      color: var(--color_blue);

      &:hover {
         background: var(--color_blue);
         color: var(--color_base);
      }

      @include md {
         width: 44px;
         height: 44px;
         border-radius: 14px;
      }

      @include xl {
         width: 54px;
         height: 54px;
         border-radius: 18px;
      }
   }

   &__button-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 16px;
      transform: translateX(-50%) translateY(-50%);

      @include xl {
         width: 21px;
         height: 16px;
      }
   }

   &__slide {
      border-radius: 30px;
   }

   &__slide-img {
      width: 100%;
      height: auto;
      border-radius: 30px;
   }

   @include md {
      padding: 50px 30px;
   }

   @include lg {
      padding: 80px 30px;
   }

   @include xl {
      padding: 100px 30px;
   }

   @include xxl {
      padding: 110px 30px;
   }
}
