.slider {
   overflow: hidden;
   position: relative;
   padding: 30px 15px;

   &__title {
      margin-bottom: 30px;
      text-align: center;

      @include lg {
         margin-bottom: 0;
         text-align: left;
      }
   }

   &__swiper {
      @include lg {
         margin-top: -45px;
      }
   }

   &__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin-bottom: 20px;

      @include md {
         justify-content: flex-end;
      }

      @include lg {
         margin-bottom: 30px;
      }

      @include xl {
         margin-bottom: 40px;
      }
   }

   &__slide {
      border-radius: 30px;
   }

   &__slide-img {
      width: 100%;
      height: auto;
      border-radius: 30px;
   }

   @include md {
      padding: 50px 30px;
   }

   @include lg {
      padding: 80px 30px;
   }

   @include xl {
      padding: 100px 30px;
   }

   @include xxl {
      padding: 110px 30px;
   }
}
