@font-face {
   font-family: "Overpass";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   src: local("Overpass");
   src: url("./assets/fonts/overpass-regular.woff2") format("woff2"), url("./assets/fonts/overpass-regular.woff") format("woff");
}

@font-face {
   font-family: "Overpass";
   font-weight: 400;
   font-style: italic;
   font-display: swap;
   src: local("Overpass");
   src: url("./assets/fonts/overpass-italic.woff2") format("woff2"), url("./assets/fonts/overpass-italic.woff") format("woff");
}

@font-face {
   font-family: "Overpass";
   font-weight: 500;
   font-style: normal;
   font-display: swap;
   src: local("Overpass");
   src: url("./assets/fonts/overpass-500.woff2") format("woff2"), url("./assets/fonts/overpass-500.woff") format("woff");
}

@font-face {
   font-family: "Overpass";
   font-weight: 500;
   font-style: italic;
   font-display: swap;
   src: local("Overpass");
   src: url("./assets/fonts/overpass-500italic.woff2") format("woff2"), rl("./assets/fonts/overpass-500italic.woff") format("woff");
}

@font-face {
   font-family: "Overpass";
   font-weight: 600;
   font-style: normal;
   font-display: swap;
   src: local("Overpass");
   src: url("./assets/fonts/overpass-600.woff2") format("woff2"), url("./assets/fonts/overpass-600.woff") format("woff");
}

@font-face {
   font-family: "Overpass";
   font-weight: 600;
   font-style: italic;
   font-display: swap;
   src: url("./assets/fonts/overpass-600italic.woff2") format("woff2"), url("./assets/fonts/overpass-600italic.woff") format("woff");
}

@font-face {
   font-family: "Overpass";
   font-weight: 700;
   font-style: normal;
   font-display: swap;
   src: local("Overpass");
   src: url("./assets/fonts/overpass-700.woff2") format("woff2"), url("./assets/fonts/overpass-700.woff") format("woff");
}

@font-face {
   font-family: "Overpass";
   font-weight: 700;
   font-style: italic;
   font-display: swap;
   src: local("Overpass");
   src: url("./assets/fonts/overpass-700italic.woff2") format("woff2"), url("./assets/fonts/overpass-700italic.woff") format("woff");
}
