body {
   padding: 10px;
   background-color: var(--color_base);

   @include md {
      padding: 15px;
   }
}

a {
   display: inline-block;
   border-bottom: 1px solid var(--color_link);
   text-decoration: none;
   transition: all 0.2s ease-in-out;
   color: var(--color_link);

   &:hover {
      border-bottom: 1px solid var(--color_link_hover);
      transition: all 0.2s ease-in-out;
      color: var(--color_link_hover);
   }
}

.container {
   position: relative;
   max-width: 450px;
   margin: 0 auto;

   @include md {
      max-width: 650px;
   }

   @include lg {
      max-width: 100%;
   }

   @include xxxl {
      max-width: 1560px;
   }
}

.main {
   max-width: 2000px;
   margin: 0 auto;
}

.title {
   font-size: 20px;
   font-weight: 400;
   line-height: 1.2;

   @include sm {
      font-size: 24px;
   }

   @include md {
      font-size: 28px;
   }

   @include lg {
      font-size: 34px;
   }

   @include xl {
      font-size: 40px;
   }
}

.logo {
   display: block;
   width: 100px;
   height: 45px;
   border-bottom: none;
   text-decoration: none;

   &__icon {
      width: 100%;
      height: inherit;
   }

   @include lg {
      width: 140px;
      height: 65px;
   }

   @include xl {
      width: 175px;
      height: 80px;
      margin-right: 60px;
   }
}

.social {
   display: flex;
   align-items: center;
   gap: 10px;

   &__item {
      border-bottom: none;
      text-decoration: none;

      &:hover {
         border-bottom: none;
         text-decoration: none;

         .social__icon {
            color: var(--color_blue);
         }
      }

      @include md {
         cursor: pointer;
         position: relative;
         display: block;
         width: 45px;
         height: 45px;
         border-radius: 100%;
         background-color: var(--color_base);
      }
   }

   &__icon {
      @include md {
         position: absolute;
         top: 50%;
         left: 50%;
         display: block;
         width: 20px;
         height: 20px;
         transform: translateX(-50%) translateY(-50%);
         transition: all 0.2s ease-in-out;
         color: var(--color_grey);
      }
   }
}
