body {
   padding: 10px;
   background-color: var(--color_base);

   @include md {
      padding: 15px;
   }
}

.container {
   position: relative;
   max-width: 450px;
   margin: 0 auto;

   @include md {
      max-width: 650px;
   }

   @include lg {
      max-width: 100%;
   }

   @include xxxl {
      max-width: 1560px;
   }
}

.main {
   max-width: 2000px;
   margin: 0 auto;
}

a {
   display: inline-block;
   border-bottom: 1px solid var(--color_link);
   text-decoration: none;
   transition: all 0.2s ease-in-out;
   color: var(--color_link);

   &:hover {
      border-bottom: 1px solid var(--color_link_hover);
      transition: all 0.2s ease-in-out;
      color: var(--color_link_hover);
   }
}
