/* stylelint-disable selector-no-qualifying-type */
:root {
   --color_base: #fff;
   --color_font: #404A6C;
   --color_green: #27AE60;
   --color_blue: #0A65D1;
   --color_grey: #909CAB;
   --color_green_card: #2C9396;
   --color_bullet_text: rgba(255, 255, 255, 70%);
   --color_border_input: #909CAB;
   --color_link: #0A65D1;
   --color_link_hover: #0C55AD;
   --color_check: #00CCD1;
   --color_bg_gradient: radial-gradient(83.98% 349.85% at 93.78% 95.78%, #baf0f1 0%, #f2f9f9 52.08%, #e5eefa 100%);
}
