/* stylelint-disable selector-no-qualifying-type */
:root {
   --color_base: #fff;
   --color_font: #404A6C;
   --color_green: #27AE60;
   --color_blue: #0A65D1;
   --color_grey: #909CAB;
   --color_green_card: #2C9396;
   --color_bullet_text: rgba(255, 255, 255, 70%);
}
